<div id="footer">
					<!-- Caixa de envio de email, ainda em construção pois host nao aceita .php
							
					<div class="container">
						<div class="row">
							<section class="col-3 col-6-narrower col-12-mobilep">
								<h3>Links importantes</h3>
								<ul class="links">
									<li><a href="#">A</a></li>
									<li><a href="#">B</a></li>
								</ul>
							</section>
							<section class="col-3 col-6-narrower col-12-mobilep">
								<h3>Mais</h3>
								<ul class="links">
									<li><a href="#">a</a></li>
									<li><a href="#">b</a></li>
								</ul>
							
								</section>
							<section class="col-6 col-12-narrower">
								<h3>Entre em contato:</h3>
								<form>
									<div class="row gtr-50">
										<div class="col-6 col-12-mobilep">
											<input type="text" name="name" id="name" placeholder="Nome" />
										</div>
										<div class="col-6 col-12-mobilep">
											<input type="email" name="email" id="email" placeholder="Email" />
										</div>
										<div class="col-12">
											<textarea name="message" id="message" placeholder="Mensagem" rows="5"></textarea>
										</div>
										<div class="col-12">
											<ul class="actions">
												<li><input type="submit" class="button alt" value="Enviar" /></li>
											</ul>
										</div>
									</div>
								</form>
							</section>
						</div>
					</div>
					
					-->

					<!-- Icons -->
						<ul class="icons">
							<li><a href="https://wa.me/5515991428537" target="_blank" rel="noopener noreferrer" class="icon brands fa-whatsapp"><span class="label">Whatsapp</span></a></li>
							<li><a href="tel:15991428537"> <i class="fa fa-phone"></i> <span class="label" style="display: none;">Telefone</span></li>
							<li><a href="mailto:contato@rsambiental.com.br" class="fas fa-envelope"><span class="label">Email</span></a></li>
							<li><a href="https://www.linkedin.com/in/rafael-scheremeta/" target="_blank" class="icon brands fa-linkedin-in"><span class="label">LinkedIn</span></a></li>
						</ul>

					<!-- Copyright -->
						<div class="copyright">
							<ul class="menu">
								<li>&copy; RS-Consultor-Ambiental - Todos os direitos reservados</li><li>Design de: <a href="http://html5up.net">HTML5 UP</a></li>
							</ul>
						</div>

				</div>