<div id="header">

					<!-- Logo -->
						<h1><a href="{{ '/index.html' | relative_url }}" id="logo">RS <em>Consultor Ambiental</em></a></h1>

					<!-- Nav -->
						<nav id="nav">
							<ul>
								<li class="current"><a href= "{{ 'index.html' | relative_url }}">Principal</a></li>
								<li>
									<a href="{{ 'servicos.html' | relative_url }}">Serviços</a>
									<ul>
										{% for servico in site.servicos %}
										<li>
											<a href="{{ servico.url | relative_url }}">{{ servico.title }}</a>
										</li>
										{% endfor %}
									</ul>
						</nav>

				</div>